In [28]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib notebook

In [29]:
#import cleaned homelessnes, population and weather data
populationCsv='../county_population.csv'
homelessnessCsv='../Homeless_2015.csv'
weatherCsv='2015_Weather_Summary.csv'
populationFullDf=pd.read_csv(populationCsv)
homelessnessDf=pd.read_csv(homelessnessCsv)
weatherDf=pd.read_csv(weatherCsv)

In [30]:
#set index to county
weatherDf=weatherDf.set_index('County')
weatherDf

,Year,Jan_Min_Temp,Jan_Max_Temp,Jan_Mean_Temp,Jan_Median_Temp
County,,,,,
Bernalillo_County,2015,14.0,59.0,31.4,31.0
Clark_County,2015,43.0,75.0,57.5,56.0
Cook_County,2015,-8.0,43.0,23.3,27.0
Dallas_County,2015,17.0,79.0,43.5,41.0
Davidson_County,2015,4.0,67.0,38.4,38.0
Denver_County,2015,-9.0,72.0,32.1,31.0
Fulton_County,2015,10.0,66.0,42.1,42.0
Hennepin_County,2015,-11.0,45.0,20.2,25.0
Jackson_County,2015,0.0,73.0,32.3,33.0
King_County,2015,25.0,63.0,44.2,44.0
Los_Angeles_County,2015,43.0,75.0,57.5,56.0
Maricopa_County,2015,27.0,77.0,53.8,55.0
Marion_County,2015,-7.0,52.0,26.5,29.0
Mecklenburg_County,2015,10.0,67.0,41.1,41.0
Miami_Dade_County,2015,50.0,83.0,69.6,71.0
New_York_County,2015,8.0,56.0,30.8,32.0
Philadelphia_County,2015,9.0,59.0,31.8,32.0
San_Francisco_County,2015,47.0,63.0,55.6,56.0
Suffolk_County,2015,-1.0,52.0,26.5,27.0
Wayne_County,2015,-2.0,42.0,21.9,25.0

In [31]:
#set homeless data to county and rename columns
homelessnessDf=homelessnessDf.set_index('County')
homelessnessDf=homelessnessDf.rename(columns={'Value_2015':'Total_Homeless'})
homelessnessDf

                      Total_Homeless
County
Los_Angeles_County             41174
San_Francisco_County            6775
Clark_County                    7509
Denver_County                   5335
Jackson_County                  1446
Cook_County                      895
Fulton_County                    473
Miami_Dade_County               4152
Philadelphia_County             5998
Maricopa_County                 5631
Suffolk_County                  6492
Wayne_County                    2597
Marion_County                   1666
King_County                    10122
Dallas_County                   3141
Davidson_County                 2154
Bernalillo_County               1287
Mecklenburg_County              2001
New_York_County                75323
Hennepin_County                 3215

In [32]:
#Merge homelessness and weather data on county name
weatherHomelessDf=pd.merge(weatherDf, homelessnessDf, on='County', how='outer')
weatherHomelessDf

,Year,Jan_Min_Temp,Jan_Max_Temp,Jan_Mean_Temp,Jan_Median_Temp,Total_Homeless
County,,,,,,
Bernalillo_County,2015,14.0,59.0,31.4,31.0,1287
Clark_County,2015,43.0,75.0,57.5,56.0,7509
Cook_County,2015,-8.0,43.0,23.3,27.0,895
Dallas_County,2015,17.0,79.0,43.5,41.0,3141
Davidson_County,2015,4.0,67.0,38.4,38.0,2154
Denver_County,2015,-9.0,72.0,32.1,31.0,5335
Fulton_County,2015,10.0,66.0,42.1,42.0,473
Hennepin_County,2015,-11.0,45.0,20.2,25.0,3215
Jackson_County,2015,0.0,73.0,32.3,33.0,1446
King_County,2015,25.0,63.0,44.2,44.0,10122
Los_Angeles_County,2015,43.0,75.0,57.5,56.0,41174
Maricopa_County,2015,27.0,77.0,53.8,55.0,5631
Marion_County,2015,-7.0,52.0,26.5,29.0,1666
Mecklenburg_County,2015,10.0,67.0,41.1,41.0,2001
Miami_Dade_County,2015,50.0,83.0,69.6,71.0,4152
New_York_County,2015,8.0,56.0,30.8,32.0,75323
Philadelphia_County,2015,9.0,59.0,31.8,32.0,5998
San_Francisco_County,2015,47.0,63.0,55.6,56.0,6775
Suffolk_County,2015,-1.0,52.0,26.5,27.0,6492
Wayne_County,2015,-2.0,42.0,21.9,25.0,2597

In [36]:
#Drop unneeded columns from our population data frame
populationDf=populationFullDf.drop(columns=['REGION', 'DIVISION', 'STATE', 'COUNTY', 'CENSUS2010POP', 'POPESTIMATE2015'])
populationDf

                 CTYNAME  POPESTIMATE2014
0      Bernalillo County           675647
1           Clark County          2069146
2            Cook County          5248704
3          Dallas County          2519625
4        Davidson County           669094
5          Denver County           663963
6          Fulton County           996463
7        Hennepin County          1212097
8         Jackson County           683683
9            King County          2082288
10    Los Angeles County         10109436
11       Maricopa County          4090022
12         Marion County           934531
13    Mecklenburg County          1011928
14     Miami-Dade County          2668903
15       New York County          1636966
16   Philadelphia County          1561562
17  San Francisco County           852537
18        Suffolk County           769809
19          Wayne County          1766008

In [37]:
#Replace county names in population dataframe with same formatting used in weather and homelessness data frame
populationDf['CTYNAME']=populationDf['CTYNAME'].replace({"Bernalillo County":"Bernalillo_County", "Clark County":"Clark_County", "Cook County":"Cook_County", "Dallas County":"Dallas_County", "Davidson County":"Davidson_County", "Denver County":"Denver_County", "Fulton County":"Fulton_County", "Hennepin County":"Hennepin_County", "Jackson County":"Jackson_County", "King County":"King_County", "Los Angeles County":"Los_Angeles_County", "Maricopa County":"Maricopa_County", "Marion County":"Marion_County", "Mecklenburg County":"Mecklenburg_County", "Miami-Dade County":"Miami_Dade_County", "New York County":"New_York_County", "Philadelphia County":"Philadelphia_County", "San Francisco County":"San_Francisco_County", "Suffolk County":"Suffolk_County", "Wayne County":"Wayne_County"})
populationDf

                 CTYNAME  POPESTIMATE2014
0      Bernalillo_County           675647
1           Clark_County          2069146
2            Cook_County          5248704
3          Dallas_County          2519625
4        Davidson_County           669094
5          Denver_County           663963
6          Fulton_County           996463
7        Hennepin_County          1212097
8         Jackson_County           683683
9            King_County          2082288
10    Los_Angeles_County         10109436
11       Maricopa_County          4090022
12         Marion_County           934531
13    Mecklenburg_County          1011928
14     Miami_Dade_County          2668903
15       New_York_County          1636966
16   Philadelphia_County          1561562
17  San_Francisco_County           852537
18        Suffolk_County           769809
19          Wayne_County          1766008

In [38]:
#Change column headers
populationDf=populationDf.rename(columns={'CTYNAME':'County', 'POPESTIMATE2015':'2015_Population_Estimate'})
populationDf

                  County  POPESTIMATE2014
0      Bernalillo_County           675647
1           Clark_County          2069146
2            Cook_County          5248704
3          Dallas_County          2519625
4        Davidson_County           669094
5          Denver_County           663963
6          Fulton_County           996463
7        Hennepin_County          1212097
8         Jackson_County           683683
9            King_County          2082288
10    Los_Angeles_County         10109436
11       Maricopa_County          4090022
12         Marion_County           934531
13    Mecklenburg_County          1011928
14     Miami_Dade_County          2668903
15       New_York_County          1636966
16   Philadelphia_County          1561562
17  San_Francisco_County           852537
18        Suffolk_County           769809
19          Wayne_County          1766008

In [39]:
#Set population dataframe index to county
populationDf=populationDf.set_index('County')
populationDf

                      POPESTIMATE2014
County
Bernalillo_County              675647
Clark_County                  2069146
Cook_County                   5248704
Dallas_County                 2519625
Davidson_County                669094
Denver_County                  663963
Fulton_County                  996463
Hennepin_County               1212097
Jackson_County                 683683
King_County                   2082288
Los_Angeles_County           10109436
Maricopa_County               4090022
Marion_County                  934531
Mecklenburg_County            1011928
Miami_Dade_County             2668903
New_York_County               1636966
Philadelphia_County           1561562
San_Francisco_County           852537
Suffolk_County                 769809
Wayne_County                  1766008

In [24]:
#merge population data with weather and homelessness data
weatherHomelessPopulationDf=pd.merge(weatherHomelessDf, populationDf, on='County', how='outer')
weatherHomelessPopulationDf

,Year,Jan_Min_Temp,Jan_Max_Temp,Jan_Mean_Temp,Jan_Median_Temp,Total_Homeless,2014_Population_Estimate
County,,,,,,,
Bernalillo_County,2014,8.0,64.0,30.8,29.0,1254,675647
Clark_County,2014,48.0,79.0,61.5,62.0,7443,2069146
Cook_County,2014,-15.0,47.0,16.6,19.0,1182,5248704
Dallas_County,2014,15.0,74.0,44.8,45.0,3514,2519625
Davidson_County,2014,1.0,63.0,33.2,35.0,2234,669094
Denver_County,2014,-8.0,64.0,29.5,30.0,6621,663963
Fulton_County,2014,6.0,67.0,36.7,37.0,477,996463
Hennepin_County,2014,-22.0,39.0,9.6,9.0,3731,1212097
Jackson_County,2014,-8.0,63.0,26.7,28.0,1931,683683
King_County,2014,28.0,59.0,41.8,43.0,8949,2082288
Los_Angeles_County,2014,48.0,79.0,61.5,62.0,34393,10109436
Maricopa_County,2014,32.0,77.0,53.5,54.0,5918,4090022
Marion_County,2014,-14.0,50.0,20.3,21.5,1890,934531
Mecklenburg_County,2014,7.0,64.0,36.9,38.0,2014,1011928
Miami_Dade_County,2014,41.0,83.0,66.9,68.0,4156,2668903
New_York_County,2014,4.0,58.0,30.6,31.0,67810,1636966
Philadelphia_County,2014,4.0,64.0,30.1,28.0,5738,1561562
San_Francisco_County,2014,51.0,62.0,56.7,57.0,6408,852537
Suffolk_County,2014,1.0,58.0,28.3,28.0,5987,769809
Wayne_County,2014,-14.0,45.0,17.7,17.0,2755,1766008

In [25]:
totalHomeless=weatherHomelessPopulationDf['Total_Homeless'].tolist()
populationEstimate=weatherHomelessPopulationDf['2014_Population_Estimate'].tolist()
homelessRate = [100*(h / p) for h, p in zip(totalHomeless, populationEstimate)]
weatherHomelessPopulationDf['Homelessness_Rate(%)']=homelessRate

In [26]:
#Rearrage columns in a more intuitive order
weatherHomelessPopulationDf=weatherHomelessPopulationDf[['Year', 'Homelessness_Rate(%)', 'Total_Homeless', '2015_Population_Estimate', 'Jan_Median_Temp', 'Jan_Mean_Temp', 'Jan_Min_Temp', 'Jan_Max_Temp']]
weatherHomelessPopulationDf

,Year,Homelessness_Rate(%),Total_Homeless,2014_Population_Estimate,Jan_Median_Temp,Jan_Mean_Temp,Jan_Min_Temp,Jan_Max_Temp
County,,,,,,,,
Bernalillo_County,2014,0.185600,1254,675647,29.0,30.8,8.0,64.0
Clark_County,2014,0.359714,7443,2069146,62.0,61.5,48.0,79.0
Cook_County,2014,0.022520,1182,5248704,19.0,16.6,-15.0,47.0
Dallas_County,2014,0.139465,3514,2519625,45.0,44.8,15.0,74.0
Davidson_County,2014,0.333884,2234,669094,35.0,33.2,1.0,63.0
Denver_County,2014,0.997194,6621,663963,30.0,29.5,-8.0,64.0
Fulton_County,2014,0.047869,477,996463,37.0,36.7,6.0,67.0
Hennepin_County,2014,0.307814,3731,1212097,9.0,9.6,-22.0,39.0
Jackson_County,2014,0.282441,1931,683683,28.0,26.7,-8.0,63.0
King_County,2014,0.429768,8949,2082288,43.0,41.8,28.0,59.0
Los_Angeles_County,2014,0.340207,34393,10109436,62.0,61.5,48.0,79.0
Maricopa_County,2014,0.144694,5918,4090022,54.0,53.5,32.0,77.0
Marion_County,2014,0.202240,1890,934531,21.5,20.3,-14.0,50.0
Mecklenburg_County,2014,0.199026,2014,1011928,38.0,36.9,7.0,64.0
Miami_Dade_County,2014,0.155719,4156,2668903,68.0,66.9,41.0,83.0
New_York_County,2014,4.142420,67810,1636966,31.0,30.6,4.0,58.0
Philadelphia_County,2014,0.367453,5738,1561562,28.0,30.1,4.0,64.0
San_Francisco_County,2014,0.751639,6408,852537,57.0,56.7,51.0,62.0
Suffolk_County,2014,0.777725,5987,769809,28.0,28.3,1.0,58.0
Wayne_County,2014,0.156002,2755,1766008,17.0,17.7,-14.0,45.0

In [27]:
#Export to csv
weatherHomelessPopulationDf.to_csv('../2015_Master_Summary.csv', index=True, header=True)