In [1]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib notebook

In [2]:
#import cleaned homelessnes, population and weather data
populationCsv='../county_population.csv'
homelessnessCsv='../Homeless_2015.csv'
weatherCsv='2015_Weather_Summary.csv'
populationFullDf=pd.read_csv(populationCsv)
homelessnessDf=pd.read_csv(homelessnessCsv)
weatherDf=pd.read_csv(weatherCsv)

In [3]:
#set index to county
weatherDf=weatherDf.set_index('County')
weatherDf

,Year,Jan_Min_Temp,Jan_Max_Temp,Jan_Mean_Temp,Jan_Median_Temp
County,,,,,
Bernalillo_County,2015,14.0,59.0,31.4,31.0
Clark_County,2015,43.0,75.0,57.5,56.0
Cook_County,2015,-8.0,43.0,23.3,27.0
Dallas_County,2015,17.0,79.0,43.5,41.0
Davidson_County,2015,4.0,67.0,38.4,38.0
Denver_County,2015,-9.0,72.0,32.1,31.0
Fulton_County,2015,10.0,66.0,42.1,42.0
Hennepin_County,2015,-11.0,45.0,20.2,25.0
Jackson_County,2015,0.0,73.0,32.3,33.0
King_County,2015,25.0,63.0,44.2,44.0
Los_Angeles_County,2015,43.0,75.0,57.5,56.0
Maricopa_County,2015,27.0,77.0,53.8,55.0
Marion_County,2015,-7.0,52.0,26.5,29.0
Mecklenburg_County,2015,10.0,67.0,41.1,41.0
Miami_Dade_County,2015,50.0,83.0,69.6,71.0
New_York_County,2015,8.0,56.0,30.8,32.0
Philadelphia_County,2015,9.0,59.0,31.8,32.0
San_Francisco_County,2015,47.0,63.0,55.6,56.0
Suffolk_County,2015,-1.0,52.0,26.5,27.0
Wayne_County,2015,-2.0,42.0,21.9,25.0

In [4]:
#set homeless data to county and rename columns
homelessnessDf=homelessnessDf.set_index('County')
homelessnessDf=homelessnessDf.rename(columns={'Value_2015':'Total_Homeless'})
homelessnessDf

                      Total_Homeless
County
Los_Angeles_County             41174
San_Francisco_County            6775
Clark_County                    7509
Denver_County                   5335
Jackson_County                  1446
Cook_County                      895
Fulton_County                    473
Miami_Dade_County               4152
Philadelphia_County             5998
Maricopa_County                 5631
Suffolk_County                  6492
Wayne_County                    2597
Marion_County                   1666
King_County                    10122
Dallas_County                   3141
Davidson_County                 2154
Bernalillo_County               1287
Mecklenburg_County              2001
New_York_County                75323
Hennepin_County                 3215

In [5]:
#Merge homelessness and weather data on county name
weatherHomelessDf=pd.merge(weatherDf, homelessnessDf, on='County', how='outer')
weatherHomelessDf

,Year,Jan_Min_Temp,Jan_Max_Temp,Jan_Mean_Temp,Jan_Median_Temp,Total_Homeless
County,,,,,,
Bernalillo_County,2015,14.0,59.0,31.4,31.0,1287
Clark_County,2015,43.0,75.0,57.5,56.0,7509
Cook_County,2015,-8.0,43.0,23.3,27.0,895
Dallas_County,2015,17.0,79.0,43.5,41.0,3141
Davidson_County,2015,4.0,67.0,38.4,38.0,2154
Denver_County,2015,-9.0,72.0,32.1,31.0,5335
Fulton_County,2015,10.0,66.0,42.1,42.0,473
Hennepin_County,2015,-11.0,45.0,20.2,25.0,3215
Jackson_County,2015,0.0,73.0,32.3,33.0,1446
King_County,2015,25.0,63.0,44.2,44.0,10122
Los_Angeles_County,2015,43.0,75.0,57.5,56.0,41174
Maricopa_County,2015,27.0,77.0,53.8,55.0,5631
Marion_County,2015,-7.0,52.0,26.5,29.0,1666
Mecklenburg_County,2015,10.0,67.0,41.1,41.0,2001
Miami_Dade_County,2015,50.0,83.0,69.6,71.0,4152
New_York_County,2015,8.0,56.0,30.8,32.0,75323
Philadelphia_County,2015,9.0,59.0,31.8,32.0,5998
San_Francisco_County,2015,47.0,63.0,55.6,56.0,6775
Suffolk_County,2015,-1.0,52.0,26.5,27.0,6492
Wayne_County,2015,-2.0,42.0,21.9,25.0,2597

In [6]:
#Drop unneeded columns from our population data frame
populationDf=populationFullDf.drop(columns=['REGION', 'DIVISION', 'STATE', 'COUNTY', 'CENSUS2010POP', 'POPESTIMATE2014'])
populationDf

                 CTYNAME  POPESTIMATE2015
0      Bernalillo County           676685
1           Clark County          2114801
2            Cook County          5238216
3          Dallas County          2553385
4        Davidson County           678889
5          Denver County           682545
6          Fulton County          1010562
7        Hennepin County          1223149
8         Jackson County           687623
9            King County          2117125
10    Los Angeles County         10170292
11       Maricopa County          4167947
12         Marion County           939020
13    Mecklenburg County          1034070
14     Miami-Dade County          2693117
15       New York County          1644518
16   Philadelphia County          1567442
17  San Francisco County           864816
18        Suffolk County           778121
19          Wayne County          1759335

In [7]:
#Replace county names in population dataframe with same formatting used in weather and homelessness data frame
populationDf['CTYNAME']=populationDf['CTYNAME'].replace({"Bernalillo County":"Bernalillo_County", "Clark County":"Clark_County", "Cook County":"Cook_County", "Dallas County":"Dallas_County", "Davidson County":"Davidson_County", "Denver County":"Denver_County", "Fulton County":"Fulton_County", "Hennepin County":"Hennepin_County", "Jackson County":"Jackson_County", "King County":"King_County", "Los Angeles County":"Los_Angeles_County", "Maricopa County":"Maricopa_County", "Marion County":"Marion_County", "Mecklenburg County":"Mecklenburg_County", "Miami-Dade County":"Miami_Dade_County", "New York County":"New_York_County", "Philadelphia County":"Philadelphia_County", "San Francisco County":"San_Francisco_County", "Suffolk County":"Suffolk_County", "Wayne County":"Wayne_County"})
populationDf

                 CTYNAME  POPESTIMATE2015
0      Bernalillo_County           676685
1           Clark_County          2114801
2            Cook_County          5238216
3          Dallas_County          2553385
4        Davidson_County           678889
5          Denver_County           682545
6          Fulton_County          1010562
7        Hennepin_County          1223149
8         Jackson_County           687623
9            King_County          2117125
10    Los_Angeles_County         10170292
11       Maricopa_County          4167947
12         Marion_County           939020
13    Mecklenburg_County          1034070
14     Miami_Dade_County          2693117
15       New_York_County          1644518
16   Philadelphia_County          1567442
17  San_Francisco_County           864816
18        Suffolk_County           778121
19          Wayne_County          1759335

In [8]:
#Change column headers
populationDf=populationDf.rename(columns={'CTYNAME':'County', 'POPESTIMATE2015':'2015_Population_Estimate'})
populationDf

                  County  2015_Population_Estimate
0      Bernalillo_County                    676685
1           Clark_County                   2114801
2            Cook_County                   5238216
3          Dallas_County                   2553385
4        Davidson_County                    678889
5          Denver_County                    682545
6          Fulton_County                   1010562
7        Hennepin_County                   1223149
8         Jackson_County                    687623
9            King_County                   2117125
10    Los_Angeles_County                  10170292
11       Maricopa_County                   4167947
12         Marion_County                    939020
13    Mecklenburg_County                   1034070
14     Miami_Dade_County                   2693117
15       New_York_County                   1644518
16   Philadelphia_County                   1567442
17  San_Francisco_County                    864816
18        Suffolk_County                    778121
19          Wayne_County                   1759335

In [9]:
#Set population dataframe index to county
populationDf=populationDf.set_index('County')
populationDf

                      2015_Population_Estimate
County
Bernalillo_County                       676685
Clark_County                           2114801
Cook_County                            5238216
Dallas_County                          2553385
Davidson_County                         678889
Denver_County                           682545
Fulton_County                          1010562
Hennepin_County                        1223149
Jackson_County                          687623
King_County                            2117125
Los_Angeles_County                    10170292
Maricopa_County                        4167947
Marion_County                           939020
Mecklenburg_County                     1034070
Miami_Dade_County                      2693117
New_York_County                        1644518
Philadelphia_County                    1567442
San_Francisco_County                    864816
Suffolk_County                          778121
Wayne_County                           1759335

In [11]:
#merge population data with weather and homelessness data
weatherHomelessPopulationDf=pd.merge(weatherHomelessDf, populationDf, on='County', how='outer')
weatherHomelessPopulationDf

,Year,Jan_Min_Temp,Jan_Max_Temp,Jan_Mean_Temp,Jan_Median_Temp,Total_Homeless,2015_Population_Estimate
County,,,,,,,
Bernalillo_County,2015,14.0,59.0,31.4,31.0,1287,676685
Clark_County,2015,43.0,75.0,57.5,56.0,7509,2114801
Cook_County,2015,-8.0,43.0,23.3,27.0,895,5238216
Dallas_County,2015,17.0,79.0,43.5,41.0,3141,2553385
Davidson_County,2015,4.0,67.0,38.4,38.0,2154,678889
Denver_County,2015,-9.0,72.0,32.1,31.0,5335,682545
Fulton_County,2015,10.0,66.0,42.1,42.0,473,1010562
Hennepin_County,2015,-11.0,45.0,20.2,25.0,3215,1223149
Jackson_County,2015,0.0,73.0,32.3,33.0,1446,687623
King_County,2015,25.0,63.0,44.2,44.0,10122,2117125
Los_Angeles_County,2015,43.0,75.0,57.5,56.0,41174,10170292
Maricopa_County,2015,27.0,77.0,53.8,55.0,5631,4167947
Marion_County,2015,-7.0,52.0,26.5,29.0,1666,939020
Mecklenburg_County,2015,10.0,67.0,41.1,41.0,2001,1034070
Miami_Dade_County,2015,50.0,83.0,69.6,71.0,4152,2693117
New_York_County,2015,8.0,56.0,30.8,32.0,75323,1644518
Philadelphia_County,2015,9.0,59.0,31.8,32.0,5998,1567442
San_Francisco_County,2015,47.0,63.0,55.6,56.0,6775,864816
Suffolk_County,2015,-1.0,52.0,26.5,27.0,6492,778121
Wayne_County,2015,-2.0,42.0,21.9,25.0,2597,1759335

In [12]:
totalHomeless=weatherHomelessPopulationDf['Total_Homeless'].tolist()
populationEstimate=weatherHomelessPopulationDf['2015_Population_Estimate'].tolist()
homelessRate = [100*(h / p) for h, p in zip(totalHomeless, populationEstimate)]
weatherHomelessPopulationDf['Homelessness_Rate(%)']=homelessRate

In [13]:
#Rearrage columns in a more intuitive order
weatherHomelessPopulationDf=weatherHomelessPopulationDf[['Year', 'Homelessness_Rate(%)','Total_Homeless', '2015_Population_Estimate', 'Jan_Median_Temp', 'Jan_Mean_Temp', 'Jan_Min_Temp', 'Jan_Max_Temp']]
weatherHomelessPopulationDf

,Year,Homelessness_Rate(%),Total_Homeless,2015_Population_Estimate,Jan_Median_Temp,Jan_Mean_Temp,Jan_Min_Temp,Jan_Max_Temp
County,,,,,,,,
Bernalillo_County,2015,0.190192,1287,676685,31.0,31.4,14.0,59.0
Clark_County,2015,0.355069,7509,2114801,56.0,57.5,43.0,75.0
Cook_County,2015,0.017086,895,5238216,27.0,23.3,-8.0,43.0
Dallas_County,2015,0.123013,3141,2553385,41.0,43.5,17.0,79.0
Davidson_County,2015,0.317283,2154,678889,38.0,38.4,4.0,67.0
Denver_County,2015,0.781633,5335,682545,31.0,32.1,-9.0,72.0
Fulton_County,2015,0.046806,473,1010562,42.0,42.1,10.0,66.0
Hennepin_County,2015,0.262846,3215,1223149,25.0,20.2,-11.0,45.0
Jackson_County,2015,0.210290,1446,687623,33.0,32.3,0.0,73.0
King_County,2015,0.478101,10122,2117125,44.0,44.2,25.0,63.0
Los_Angeles_County,2015,0.404846,41174,10170292,56.0,57.5,43.0,75.0
Maricopa_County,2015,0.135102,5631,4167947,55.0,53.8,27.0,77.0
Marion_County,2015,0.177419,1666,939020,29.0,26.5,-7.0,52.0
Mecklenburg_County,2015,0.193507,2001,1034070,41.0,41.1,10.0,67.0
Miami_Dade_County,2015,0.154171,4152,2693117,71.0,69.6,50.0,83.0
New_York_County,2015,4.580248,75323,1644518,32.0,30.8,8.0,56.0
Philadelphia_County,2015,0.382662,5998,1567442,32.0,31.8,9.0,59.0
San_Francisco_County,2015,0.783404,6775,864816,56.0,55.6,47.0,63.0
Suffolk_County,2015,0.834318,6492,778121,27.0,26.5,-1.0,52.0
Wayne_County,2015,0.147613,2597,1759335,25.0,21.9,-2.0,42.0

In [14]:
#Export to csv
weatherHomelessPopulationDf.to_csv('../2015_Master_Summary.csv', index=True, header=True)